@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-heading: 'Montserrat', sans-serif;
  --color-brand-navy: #1E3A8A;
  --color-brand-orange: #F97316;
  --color-brand-dark: #111827;
  --color-brand-bg: #F7F9FC;
}

@layer base {
  body {
    background-color: var(--color-brand-bg);
    color: var(--color-brand-dark);
    font-family: var(--font-sans);
  }
}
